<!DOCTYPE html>
<html>
  <head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  </head>
  <body style="font-size:1.125em">    
   [UploaderPrefixLastName],  
  
    <p>
	<br />
      The CIW you have submitted matches an existing record in GCIMS. Please review the applicant’s GCIMS record and manually apply any updates from the CIW.
    </p>
    
    
    <p style="margin: 1em 0;">
      If you need assistance, please reach out to HSPD-12 Security at  <a href="mailto:HSPD12.Security@gsa.gov">HSPD12.Security@gsa.gov</a> or at (202) 501-4459.
    </p>
	<br />
    <p>
      Thank You,
    </p>
    <p>
	  HSPD-12

    </p>
  </body>
</html>
