<!DOCTYPE html>
<html>
  <head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  </head>
  <body style="font-size:1.125em">    
    [UploaderPrefixLastName],     
    <p>
	<br />
      The CIW you submitted contains invalid data and could not be processed. Please review and address the below data issues before resubmitting:
    </p>
    <p style="margin: 1em 0;">
      General
      <div>        
			[GENERAL]          
      </div>
    </p>  
    <p style="margin: 1em 0;">
      Section 1
      <div>        
			[SECTION1]          
      </div>
    </p>   
        <p style="margin: 1em 0;">
      Section 2
      <div>        
			[SECTION2]         
      </div>
    </p>
    <p style="margin: 1em 0;">
      Section 3
      <div>        
			[SECTION3]          
      </div>
    </p>
    <p style="margin: 1em 0;">
      Section 4
      <div>        
			[SECTION4]         
      </div>
    </p>
    <p style="margin: 1em 0;">
      Section 5
      <div>        
			[SECTION5]          
      </div>
    </p>
    <p style="margin: 1em 0;">
      Section 6
      <div>        
			[SECTION6]          
      </div>
    </p>
    <p style="margin: 1em 0;">
      If you need assistance, please reach out to HSPD-12 Security at <a href="mailto:HSPD12.Security@gsa.gov">HSPD12.Security@gsa.gov</a> or at (202) 501-4459.
    </p>
	<br />
    <p>
      Thank You,
    </p>
    <p>
		HSPD-12

    </p>
  </body>
</html>
