<!DOCTYPE html>
<html>
  <head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  </head>
  <body style="font-size:1.125em">    
   [UploaderPrefixLastName],  
    <p>
	<br />
      The CIW you have submitted does not use the latest version of the CIW template. Please download the latest version of the CIW <a href="https://insite.gsa.gov/node/147905">here</a>, input the applicant’s data, and resubmit.
    </p>
    
    
    <p style="margin: 1em 0;">
       If you are using the latest version of the CIW for this applicant, please reach out to HSPD-12 Security at <a href="mailto:HSPD12.Security@gsa.gov">HSPD12.Security@gsa.gov</a> or at (202) 501-4459.
    </p>
	<br />
    <p>
      Thank You,
    </p>
    <p>
		HSPD-12

    </p>
  </body>
</html>
